<%- include('parts/header') %>
<div class="c-homepage">
  <div class="c-homepage__main-section">
    <div class="c-homepage__mini-header"><h2>FILER</h2></div>
    <div class="c-homepage__welcome"><h1>Welcome to Filer</h1></div>
    <div class="c-homepage__description">
      <p>
        A simple Node.JS web based file manager.
        Purely server side rendered. Still somewhat in development.
      </p>
      <p>
        This is just a personal project, use with caution. Also, it allows anyone to access your files, so don't actually use it.
      </p>
    </div>
    <div class="c-homepage__cta">
      <a href="/files" class="c-homepage__button --filled">Open Filer</a>
      <a href="https://github.com/CAtOSe/filer" class="c-homepage__button --outlined">Check Filer on GitHub</a>
    </div>
    <span class="c-homepage__author">Made by <a href="https://github.com/CAtOSe">CAtOSe</a>, Licensed under MIT 2020</span>
  </div>
</div>
<%- include('parts/footer') %>