.c-browser-window {
  width: 100%;
}

.c-browser-window__top-bar {
  height: 64px;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $blue;

  @media only screen and (max-width: 768px) {
    padding: 0 24px;
  }
}

.c-browser-window__object-window {
  max-width: 1000px;
  margin: 0 auto;
  padding: 24px;
}

.c-browser-window__object-grid {
  border-radius: 8px;
  border: 1px solid $grey;
}

.c-browser-window__upload {
  cursor: pointer;
  padding: 8px 16px;
  text-decoration: none;
  color: $text;
  border-radius: 5px;
  
  .c-browser-window__upload-icon {
    vertical-align: middle;
    margin-right: 8px;
  }

  &:hover, &:focus {
    background: rgba(255, 255, 255, 0.3);
  }
}
.c-browser-window__upload-text {
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.c-browser-window__title {
  margin: 0;
  font-size: 1.7em;
  letter-spacing: 0.1em;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}