.c-object-box {
  a {
    border-top: 1px solid $grey;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: $text;

    @include animate(background, 80ms);

    &:hover, &:focus {
      background: #333;
    }
  }

  &:first-child a {
    border-top: none;
    border-radius: 10px 10px 0 0;
  }

  &:last-child a {
    border-radius: 0 0 10px 10px;
  }
}

.c-object-box__icon span {
  font-size: 1.3em;
  color: $grey;
}

.c-object-box__filename {
  margin-left: 16px;
  font-size: 1.1em;
  flex: 1;
}

.c-object-box__size {
  margin-right: 16px;
  font-size: 1em;
  font-family: monospace;
  vertical-align: middle;
}
