.c-pathfinder {
  display: flex;
}

.c-pathfinder__sep {
  padding: 4px 2px;
}

.c-pathfinder__link {
  padding: 4px 8px;
  line-height: 24px;
  font-size: 1.2em;
  color: $text;
  text-decoration: none;
  border-radius: 3px;

  @include animate(background, 80ms);
    
  &:hover, &:focus {
     background: rgba(255, 255, 255, 0.3);
  }
}