@import 'variables';
@import 'inputs';
@import 'elements/browser';
@import 'elements/object-box';
@import 'elements/pathfinder';
@import 'elements/upload';
@import 'elements/loading-bar';

body {
  margin: 0;
  width: 100%;
  height: 100%;
  color: $text;
  background: $background;
  font-family: 'Raleway', sans-serif;
}
